
.offcanvas.offcanvas-end{
  width: 200px; 
}
.mt-4 {
  margin-top: 70px !important;
}

.navbar-toggler {
  border: none;
}

.my-button:hover {
  background-color: lightgrey;
}
/* .card {
  border: 2px solid black; הוספת גבול שחור */
